.footer_panel {
    position: fixed;
    display: flex;
    padding: 16px;
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100vw;
    color: white;
    background-color: #304146;
    }